@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista Para PDF</title>
    <style>
        h1 {
            color: #3F9869
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid gray;
            padding: 15px;
            font-size: 22px;
            text-align: center;
        }

        table th {
            background-color: #324EFF;
            color: white;
        }
    </style>
</head>
<body>
    <center>
        <br />
        <img src="https://www.programaenlinea.net/wp-content/uploads/2020/07/net-core-1.png" />
        <br />
        <h1>Lista de contactos</h1>
        <br />
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger</td>
                    <td>Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett</td>
                    <td>Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton</td>
                    <td>Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric</td>
                    <td>Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Paul</td>
                    <td>Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>$725,000</td>
                </tr> 
                <tr>
                    <td>Michelle</td>
                    <td>House</td>
                    <td>Integration Specialist</td>
                    <td>Sydney</td>
                    <td>$95,400</td>
                </tr> 
            </tbody>
        </table>
    </center>
</body>
</html>
